[submodule "Sintaxe básica do Java/Simulando Uma Conta Bancária Através do Terminal/dio-trilha-java-basico"]
	path = Sintaxe básica do Java/Simulando Uma Conta Bancária Através do Terminal/dio-trilha-java-basico
	url = https://github.com/Alinedevs/dio-trilha-java-basico
